@font-face
{
    font-family: Hiragino Sans GB;
    src:url("font/HiraginoSansGB-W3.ttf");
}
*
{
    margin: 0;
    padding: 0;
}
html
{
    font-family: Hiragino Sans GB ;

    background-color: rgb(104,205,213);

    font-size: 62.5%;
}
img{
    display: block;
}
.head
{
    line-height:88px;

    overflow: hidden;

    height: 88px;

    color: rgb(248,246,245);
    background-color: rgb(34,41,44);
}
.head span
{
    display: block;
    float: left;
}
.return
{
    font-size: 2.6rem;

    width: 18%;
    margin-left: 2%;
    padding-left: 6%;

    cursor: pointer;
    text-align: left;

    background-image: url('images/task3_03.png');
    background-repeat: no-repeat;
    background-position: left;
}
.title
{
    font-size: 3.4rem;

    width: 48%;

    text-align: center;
}
.set
{
    width: 24%;
    height: 88px;
    margin-right: 2%;

    cursor: pointer;

    background-image: url('images/task3_06.png');
    background-repeat: no-repeat;
    background-position: right;
}

.back
{
    margin: 2% 0 4% 5.5%;

    cursor: pointer;

    width: 8%;

    max-width: 55px;
}
.logo
{
    margin: auto;
    width: 29%;
    max-width: 182px;
}
.main p
{
    font-size:3rem;
    line-height:1.8;

    width: 74%;
    margin: 10% 13% 15%;

    text-align: justify;

    color: rgb(252,252,254);
}
.footer{
    width: 100%;
    overflow: hidden;
}
.footer img{
    width:26%;
    max-width:88px;
    margin: auto;
}
.footer div
{
    font-size: 2.4rem;

    margin-bottom: 18%;

    cursor: pointer;
    text-align: center;

    color: rgb(252,252,254);

    width: 50%;

    overflow: hidden;

}
.footer span
{   
    display: block;
    margin: 2% auto;
    font-size: 2.4rem;
}
.left
{
    float: left;
    margin: auto;

}
.right
{
    float: right;
    margin: auto;

}
@media screen and (max-width: 321px){
    .return{
        font-size: 1.3rem;
    }
    .title{
        font-size: 1.7rem;
    }
   
    .main p{
        font-size: 1.5rem;
    }
    .footer span{
        font-size: 1.3rem;
    }
    .return{
        -webkit-background-size: 20% 30%;
        background-size: 20% 30%;
    }
    .set{
        -webkit-background-size: 40% 10%;
        background-size: 40% 10%;
    }
}
@media screen and (max-width:361px){
    .return{
        font-size: 1.46rem;
    }
    .title{
        font-size: 1.9rem;
    }
    .main p{
        font-size: 1.7rem;
    }
    .footer span{
        font-size: 1.4rem;
    }
    .return{
        -webkit-background-size: 15% 30%;
        background-size: 15% 30%;
    }
    .set{
        -webkit-background-size: 40% 15%;
        background-size: 40% 15%;
    }
}
@media screen and (max-width:415px){
    .return{
        font-size: 1.68rem;
    }
    .title{
        font-size: 2.2rem;
    }
    .main p{
        font-size: 1.9rem;
    }
    .footer span{
        font-size: 1.54rem;
    }
    .return{
        -webkit-background-size: 15% 25%;
        background-size: 15% 25%;
    }
    .set{
        -webkit-background-size: 30% 10%;
        background-size: 30% 10%;
    }
}




