@font-face
{
    font-family: STHei;

    src: url('font/STHeiTI-Light.ttc');
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: STHei;
    color: #fff;
    background-color: #eff0f4;
}
html{
    font-size: 625%;
}
.header{
    background-color: #5fc0cd;
    height: 0.88rem;
    line-height: 0.88rem;
    color: #fff;
    position: relative;
}
.close{
    font-size:0.32rem;
    position: absolute;
    left:0.3rem;
}
.login{
    font-size: 0.36rem;
    position: absolute;
    left:50%;
    -webkit-transform:translate(-50%);
    -ms-transform:translate(-50%);
    -o-transform:translate(-50%);
    transform:translate(-50%);
}
.reg{
    font-size:0.32rem;
    position: absolute;
    right:0.3rem;
}
.main{
    overflow: hidden;
}
.main p{
    height: 1rem;
    background-color: #fff;
    margin-top: 0.14rem;
    position: relative;
}
.main p img{
    width: 0.4rem;
    height: 0.4rem;
    max-width: 40px;
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    display: none;
}
input{
    height:0.5rem;
    border: none;
    border-left: 0.04rem solid #eef0f2;
    outline: none;
    position: absolute;
    top:0.25rem;
    left:1.18rem; 
    padding-left: 0.36rem;
    font-size: 0.32rem;
    width: 70%;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#eef0f2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#eef0f2;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#eef0f2;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#eef0f2;
}
.phone{
    background-image: url("images/task4_03.png");
    background-repeat: no-repeat;
    background-position:0.43rem;
    -webkit-background-size:0.3rem 0.43rem;
    background-size:0.3rem 0.43rem ;
}
.password{
    background-image: url("images/task4_10.png");
    background-repeat: no-repeat;
    background-position:0.43rem;
    -webkit-background-size:0.3rem 0.43rem;
    background-size:0.3rem 0.43rem ;
}
.button{
    background-color:#5fc0cd;
    color: #fff;
    font-size: 0.32rem;
    line-height:1rem;
    height: 1rem; 
    width: 100%;
    border: none;
    outline: none;
}
.forget{
    font-size: 0.32rem;
    color: #5fc0cd;
    float: right;
    margin:0.18rem 0.3rem; 
}
.footer img{
    display: none;
    width: 1.8rem;
    height: 1.8rem;
    margin: 1.96rem auto 1.2rem;
    max-width: 180px;
}
.tips{
    width: 3.7rem;
    height: 0.8rem;
    background-color: #747577;
    font-size: 0.32rem;
    line-height: 0.8rem;
    max-width: 370px;
    display: none;
    margin: auto;
    text-align: center;
    border-radius: 0.06rem;
}
@media screen and (min-width: 320px) and (max-width: 360px){
    html{
        font-size:277.77%;
    }
}
@media screen and (min-width: 360px) and (max-width:400px){
    html{
        font-size:312.5%;
    }
}
@media screen and (min-width:400px) and (max-width:450px){
    html{
        font-size:390.625%;
    }
}
@media screen and (min-width:450px) and (max-width:750px){
    html{
        font-size:635%;
    }
}
@media screen and (min-width:450px) and (max-width:768px){
    html{
        font-size:666.49%;
    }
}
@media screen and (min-width: 1100px){
    html{
        font-size:500%;
    }
}
